<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <!-- import #zmmtg-root css -->
        <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.8.3/css/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.8.3/css/react-select.css" />
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        Create User Success
                    </h3>
                   <div>
                    {{ email }}
                   </div> 
                   <div>
                    {{ url }}
                   </div> 
                   <div>
                    {{ type }}
                   </div> 
                   <div>
                    {{ firstName }}
                   </div> 
                   <div>
                    {{ lastName }}
                   </div>
                   <div>
                    {{ a }}
                   </div>
                </div>
            </div>
        </div>
    </body>
</html>
